<form
  [formGroup]="form"
  (submit)="submit()"
  class="max-w-md mx-auto p-6 bg-white shadow-md rounded-lg"
>
  <div class="mb-4">
    <label for="Name" class="block text-sm font-medium text-gray-700"
      >Product Name:</label
    >
    <input
      id="Name"
      placeholder="Enter Product name"
      class="form-main"
      formControlName="name"
    />
  </div>

  <button
    (click)="addNewProperty()"
    type="button"
    class="w-full mb-4 px-4 py-2 bg-blue-500 text-white rounded-md hover:bg-blue-600 focus:outline-none focus:ring-2 focus:ring-blue-500"
  >
    Add Property
  </button>

  <div class="space-y-4" formArrayName="data">
    @for (property of productData.controls; track $index ; let i =$index) {

    <div [formGroupName]="$index">
      <div class="p-4 border border-gray-200 rounded-md">
        <div class="mb-2">
          <label for="key" class="block text-sm font-medium text-gray-700"
            >Property Name:</label
          >
          <input
            id="key"
            placeholder="Enter key"
            class="form-main"
            formControlName="key"
          />
        </div>
        <div>
          <label for="value" class="block text-sm font-medium text-gray-700"
            >Property Value:</label
          >
          <input
            id="value"
            placeholder="Enter value"
            class="form-main"
            formControlName="value"
          />
        </div>
        <button
          type="button"
          class="bg-red-600 hover:bg-red-700 px-4 py-2 rounded-xl my-2 text-white"
          (click)="productData.removeAt($index)"
        >
          close
        </button>
      </div>
    </div>

    }

    <button
      type="submit"
      class="w-full mt-4 px-4 py-2 bg-green-500 text-white rounded-md hover:bg-green-600 focus:outline-none focus:ring-2 focus:ring-green-500"
    >
      Submit
    </button>
  </div>
</form>

<div class="container mx-auto my-4">
  <div class="grid sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-5 gap-5">
    @for (item of card; track $index) {

    <div class="bg-gray-500 text-center rounded-md shadow-xl">
      <h2 class="text-2xl font-bold my-3">{{ item.name }}</h2>
      @if (item.data) {
      <div class="text-white">
        @for (productData of item.data | keyvalue; track $index) {
        <p>{{ productData?.key }} : {{ productData?.value }}</p>
        }
      </div>
      }
      <p class="text-white mt-3">
        Time : {{ item.createdAt | date : "shortTime" }}
      </p>
      <button
        class="px-4 py-2 bg-red-600 rounded-2xl my-5"
        (click)="delete(item.id, $index)"
      >
        Delete
      </button>
    </div>

    }
  </div>
</div>
